
.container {
    width: 60vh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(25%, 1fr));
    grid-gap: 25px;
    align-items: center;
    justify-items: center;
}

.cell {
    width: 100px;
    height: 100px;
}

.cell:nth-child(3n + 1) {
    background-color: red;
}

.cell:nth-child(3n + 2) {
    background-color: green;
}

.cell:nth-child(3n + 3) {
    background-color: blue;
}

.cell:nth-child(2n + 1) {
    border-radius: 50%;
}

.cell:nth-child(3n + 1):hover {
    background-color: rgb(0, 0, 0);
}

.cell:nth-child(3n + 3):hover {
    background-color: red;
}

.cell:nth-last-child(1):hover {
    border-radius: 50%;
    outline-offset: -20px;
    outline: solid 20px yellow;
}